@charset 'utf-8';
@mixin spacing() {
  letter-spacing: 1.2px;
}

$point: #0a51b7;
$danger: #db1717;
$deepBlue: #0d2a58;
$baseColor: #111;
//device
$fhd: 1600px;
$desktop: 1200px;
// $tablet: 1200px;
// $mobile: 1200px;
// $Smobile: 360px;
// $short: 568px;
$tablet: 768px;
$mobile: 480px;
$Smobile: 360px;
$short: 568px;

// default class
@mixin cursor() {
  cursor: pointer;
}

// mixin class
@mixin box-shadow($x: 0, $y: 0, $blur: 0, $color: rgba(0, 0, 0, 0.2)) {
  -webkit-box-shadow: $arguments;
  -moz-box-shadow: $arguments;
  box-shadow: $arguments;
}

@mixin text-shadow($x: 0, $y: 0, $blur: 0, $color: rgba(0, 0, 0, 0.2)) {
  -webkit-text-shadow: $arguments;
  -moz-text-shadow: $arguments;
  text-shadow: $arguments;
}

// mobile
@mixin mobile-show() {
  display: none;

  @media (max-width: $mobile) {
    display: block;
  }
}

@mixin mobile-hidden() {
  display: block;

  @media (max-width: $mobile) {
    display: none;
  }
}

@mixin inline() {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@mixin area-flex($width) {
  width: $width;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $desktop) {
    width: $tablet;
  }

  @media (max-width: $tablet) {
    width: $mobile;
  }

  @media (max-width: $mobile) {
    box-sizing: border-box;
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@mixin stretch-container() {
  position: relative;
  margin-right: 60px;
  margin-left: 60px;
  @media (max-width: $tablet) {
    width: auto;
    margin-right: 24px;
    margin-left: 24px;
  }
}

@mixin default-btn($width) {
  width: $width;
  height: 60px;
  margin: 0 24px;
  font-weight: 500;
  font-size: 15px;
  font-family: $noto;
  text-transform: uppercase;
  &.blue-btn {
    background-color: rgba(16, 73, 167, 0.6);
  }
  &.grey-btn {
    background-color: rgba(130, 140, 158, 0.4);
  }
  &.light {
    &.blue-btn {
      position: relative;
      padding-right: 20px;
      color: #fff;
      background-color: #1655bf;

      &:after {
        position: absolute;
        top: 50%;
        right: 60px;
        width: 16px;
        height: 16px;
        background: url("~assets/images/common/ic-chevron-right@2x.png")
          no-repeat center;
        background-size: 20px;
        transform: translateY(-50%);
        content: "";
      }
      &:hover {
        background-color: #3268c2;
      }
      &:active {
        background-color: #1655bf;
      }
    }
    &.grey-btn {
      position: relative;
      padding-right: 20px;
      color: #fff;
      background-color: #828c9e;
      &:after {
        position: absolute;
        top: 50%;
        right: 60px;
        width: 16px;
        height: 16px;
        background: url("~assets/images/common/ic-chevron-right@2x.png")
          no-repeat center;
        background-size: 20px;
        transform: translateY(-50%);
        content: "";
      }
      &:hover {
        background-color: #8e97a6;
      }
      &:active {
        background-color: #747d8e;
      }
    }
  }
  @media (max-width: $mobile) {
    height: 42px;
    font-size: 13px;
  }
}

@mixin into-btn() {
  position: relative;
  height: 48px;
  margin-top: 30px;
  margin-right: 20px;
  padding-top: 4px;
  padding-right: 42px;
  padding-left: 24px;
  color: #5c6373;
  font-weight: 500;
  border: 1px solid #ced3dc;
  &:after {
    position: absolute;
    top: 51%;
    right: 20px;
    width: 16px;
    height: 16px;
    background: url("~assets/images/common/ic-link@2x.png") no-repeat center;
    background-size: 16px;
    transform: translateY(-50%);
    content: "";
  }
  @media (min-width: $mobile) {
    &:hover {
      color: #fff;
      background: #5c6373;
      &:after {
        background: url("~assets/images/common/ic-link-hover@2x.png") no-repeat
          center;
        background-size: 16px;
      }
    }
  }
  &:active {
    background: #404551;
  }
  @media (max-width: $mobile) {
    height: 44px;
    padding-right: 36px;
    padding-left: 16px;
    &:after {
      right: 14px;
    }
  }
}

@mixin default-text($titleColor, $titleSize) {
  .category {
    margin-bottom: 8px;
    color: #1655bf;
    font-weight: 600;
    font-size: 18px;
    font-family: $poppins, $noto;
    line-height: 1.56;
  }
  .title {
    margin-bottom: 16px;
    color: $titleColor;
    font-weight: 700;
    font-size: $titleSize;
    font-family: $noto;
    line-height: 1.41;
  }
  .contents {
    font-weight: 500;
    font-size: 16px;
    font-family: $noto;
    line-height: 1.78;
  }

  @media (max-width: $mobile) {
    .category {
      font-size: 14px;
    }
    .title {
      font-size: 26px;
    }
    .contents {
      font-size: 15px;
    }
  }
}

// clearfix
@mixin clearfix() {
  &:after {
    display: block;
    clear: both;
    content: " ";
  }
}

@mixin play-btn-mixin() {
  $playBtnSize: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: $playBtnSize;
  height: $playBtnSize;
  text-align: center;
  background-image: linear-gradient(324deg, #6700ff, #004dff);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  img {
    display: inline-block;
    width: 32px;
    padding-left: 10px;
  }

  @media (max-width: $tablet) {
    img {
      width: 21px;
      padding-top: 2px;
      padding-left: 8px;
    }
    width: 80px;
    height: 80px;
  }
  @media (max-width: $mobile) {
    img {
      width: 13px;
      padding-top: 5px;
      padding-left: 5px;
    }
    width: 50px;
    height: 50px;
  }
}

@mixin ratioBox($ratio) {
  &:after {
    display: block;
    width: 100%;
    padding-top: $ratio;
    content: "";
  }
}

@mixin checkbox($fontSize) {
  $size: 24px;
  $deg: 45deg;
  $duration: 0.15s;

  input[type="checkbox"] {
    display: none;
  }

  label {
    font-weight: 500;
    font-size: $fontSize;
    font-family: $noto;
    cursor: pointer;
  }

  .checkbox {
    display: inline-block;
    width: $size;
    height: $size;
    margin-right: 10px;
    background: #fff;
    border: 1px solid #d4d9e1;

    &:after {
      position: absolute;
      width: 0px;
      height: 3px;
      background: $point;
      transform: translate(9px, 14px) rotate(-$deg);
      transform-origin: left;
      transition: all $duration;
      transition-delay: 0ms;
      content: "";
    }

    &:before {
      position: absolute;
      width: 0px;
      height: 3px;
      background: $point;
      transform: translate(5px, 10px) rotate($deg);
      transform-origin: left;
      transition: all $duration;
      transition-delay: 150ms;
      content: "";
    }
    @media (max-width: $mobile) {
      margin-right: 4px;
    }
  }

  input[type="checkbox"]:checked {
    & ~ .checkbox {
      &:before {
        width: 7px;
        transition-delay: 0ms;
      }

      &:after {
        width: 12px;
        transition-delay: $duration;
      }
    }
  }
}
